header {
  position: absolute;
  right: 2%;
  top: 3%;
  z-index: 1;

  .fa-github {
    color: $green;
    font-size: 38px;
    transition: all 0.1s linear;

    &:hover {
      color: $pink;
      cursor: pointer;
      font-size: 42px;
    }
  }
}
