.password {
  align-items: baseline;
  display: flex;
  position: relative;

  input {
    padding-right: 25px;
  }

  &-icon {
    color: #000;
    cursor: pointer;
    margin-left: 5px;
    position: absolute;
    right: 1%;
    top: 12%;
    transition: all 0.1s linear;
  }
}
