@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fullScreen {
  width: 100vw;
  height: 100vh;
}

@mixin cover {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin link {
  text-decoration: underline;
  cursor: pointer;
  color: #fb5b87;
}
