/* libre-franklin-regular - latin */
@font-face {
  font-family: "Libre Franklin";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src:local("Libre Franklin"), local("LibreFranklin-Regular"), url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.eot?#iefix") format("embedded-opentype"),
  /* IE6-IE8 */
  url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.woff2") format("woff2"),
  /* Super Modern Browsers */
  url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.woff") format("woff"),
  /* Modern Browsers */
  url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.ttf") format("truetype"),
  /* Safari, Android, iOS */
   url("./fonts/libre-franklin-v4-latin/libre-franklin-v4-latin-regular.svg#LibreFranklin") format("svg");
}

/* vt323-regular - latin */
@font-face {
  font-family: "VT323";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.eot");
  /* Legacy iOS */
  /* IE9 Compat Modes */
  src:local("VT323 Regular"), local("VT323-Regular"), url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.eot?#iefix") format("embedded-opentype"),
  /* IE6-IE8 */
  url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.woff2") format("woff2"),
  /* Super Modern Browsers */
  url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.woff") format("woff"),
  /* Modern Browsers */
  url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.ttf") format("truetype"),
  /* Safari, Android, iOS */
   url("./fonts/vt323-v11-latin/vt323-v11-latin-regular.svg#VT323") format("svg");
}

$font: "Libre Franklin", sans-serif;
$logo_font: "VT323", monospace;

$pink: #fb5b87;
$green: #00a578;
$light-green: rgba(0, 165, 120, 0.47);
$transparent: rgba(255, 255, 255, 0);

body {
  font-family: $font;
  cursor: crosshair;
}

.wrap {
  position: relative;
  margin: 0 auto;
  transform: translateY(20%);
  max-width: 800px;
  box-shadow: 7px 13px 49px -5px $light-green;
  overflow: hidden;

  @media screen and (max-width: 900px) {
    width: fit-content;
    margin-bottom: 140px;
  }

  @media screen and (max-width: 420px) {
    width: 100%;
  }
}

.registration {
  animation: open 0.3s infinite;
  animation-iteration-count: 1;
  background: radial-gradient(circle farthest-corner, black 40%, $transparent 0) no-repeat, white;
  background-position: -280px -160px;

  button {
    background: #000;
  }
}

.signin {
  animation: open 0.3s infinite;
  animation-iteration-count: 1;
  background: black;
  color: white;
  background: radial-gradient(circle farthest-corner, $green 40%, black 0) no-repeat, black;
  background-position: -280px -160px;

  h1 {
    color: white;
  }
}

.left {
  background: radial-gradient(circle farthest-corner, $green 40%, $transparent 0) no-repeat;
  background-position: 140px 160px;
}

.logo-text {
  font-family: $logo_font;
  font-size: 130px;
  color: $green;
  mix-blend-mode: difference;
  margin: 90px 0 0 90px;
  line-height: 82%;

  @media screen and (max-width: 900px) {
    margin: 10px 0 0 90px;
  }

  @media screen and (max-width: 420px) {
    margin: 10px 0 0;
    text-align: center;
  }
}

.card__side {
  width: 50%;
  min-height: 450px;

  @media screen and (max-width: 900px) {
    width: 100%;
    min-height: 0;
  }
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

img {
  width: 20%;
  margin-bottom: 15px;
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding: 5px;
  transition: border-color 1s ease;

  &:focus {
    outline: none;
    border-bottom-color: $pink;
  }
}

.password {
  display: flex;
  align-items: baseline;
  position: relative;

  input {
    padding-right: 25px;
  }

  .password-icon {
    color: black;
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 12%;
    transition: all 0.1s linear;
    margin-left: 5px;
  }
}

button {
  background: $green;
  color: white;
  border: none;
  color: white;
  padding: 10px;
  cursor: alias;
  box-shadow: 0 3px 0 1px $light-green;

  &:hover {
    box-shadow: none;
    transform: translateY(3px);
    transition: all 0.1s linear;
  }

  &:focus {
    outline-color: $pink;
  }
}

.link {
  text-decoration: underline;
  cursor: pointer;
  color: $pink;
  padding-left: 5px;

}

h2 {
  font-size: 34px;
}

p {
  @media screen and (max-width: 900px) {
    margin: 25px 0 42px;
  }
}

.glitch {
  position: relative;
  transform: scale3d(1,1,1);

  &::after,
  &::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: white;
    color: black;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 7px;
    text-shadow: 1.5px 0 $green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1.5px 0 $pink;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

.black {
  .glitch::after,
  .glitch::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: black;
    color: white;
    clip: rect(0, 900px, 0, 0);
  }

  input {
    border-color: white;
    background: black;
    color: white;

    &:focus {
      outline: none;
      border-bottom-color: $pink;
    }
  }

  .password .password-icon {
    color: white;
  }
}

@keyframes glitch-effect {

  @for $i from 0 through 20 {
    #{percentage($i * (1 / 20))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

.fa-github {
  position: absolute;
  top: 3%;
  right: 2%;
  font-size: 38px;
  color: $green;
  transition: all 0.1s linear;
}

.fa-github:hover {
  font-size: 42px;
  color: $pink;
  cursor: pointer;
}

@keyframes open {
  0% {
    background: black;
  }

  100% {}
}

@keyframes open-signin {
  0% {
    background: none;
  }

  100% {}
}
