body {
  cursor: crosshair;
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

form {
  display: flex;
  flex-direction: column;
}

img {
  margin-bottom: 15px;
  width: 20%;
}
